
/*center webpage*/
.container{
    max-width: 500px;
    margin-top: 60px;
}

.stars{
    margin-left:30px;
    display: block;
    height: 15px;
}
.row p{
   
    color: grey;
}
#red{
    display:inline;
    color:red;
    font-size: 22px;
    font-weight: bold;
    margin-left:15px; 
    
}
#p2{
    margin-top:6px;
    margin-left:45px;
    font-weight: bold;
}
#p3{
    margin-top:6px;
    margin-left:45px;
    font-weight: bold;   
}
#hh {
    font-size: 85%;
    margin-left:10px
}
#color{
    display:inline;
    font-weight: bold;
}
#size{
    margin-left: 2px;
}

  .dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 40%;
    display: inline-block;
  }
#brown{
    padding: 0;
    border: none;
    margin-right:10px;
    background-color: brown;
    
}
#purple{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color:#590ef0;
}
#black{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: black;
}
#white{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: white;
}
#orange{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: orange;
}
#yellow{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: yellow;
}
#blue{
    padding: 0;
    border: none;
    margin-right:10px;
    color: #590ef0;
   background-color:#0e59f0 ;
}
#bluish{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: #23628c;
}
#burlywood{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: burlywood;
}
#skyblue{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: #42aff5;
}
#lime{
     border: none;
    margin-right:10px;
   background-color: lime;
}
#pink{

    padding: 0;
    border: none;
    margin-right:10px;
    background-color: rgb(233, 73, 172);
}
#khaki{
    border: none;
    margin-right:10px;
   background-color:#dab7b4;
}
#green{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: green;
}
#grey{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: grey;
}
#army{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color:rgb(51, 46, 46);
}
#clay{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: #dcdcdc ;
}
#Vividblue{
    padding: 0;
    border: none;
    margin-right:10px;
   background-color: #42eff5;
}


#AddToCart{
    width: 300px;
    border-width: thin;
    background-color:black;
    border-radius: 30px;
    padding: 10px 980px;
    color: white;
    
}
#counter{
    border-radius: 30px;
    padding: 7px 25px;
    background-color: white;
    border-color: lightslategray;
    border-width: thin;
    margin-right: 20px;
}
#details{
    margin-left:10px;
    margin-top: 30px;
    margin-bottom: 10px
}


.bg-modal{
   /*position: fixed;*/
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.7);
   
   top: 0;
   display: none;
   padding: 200px 555px;
   justify-content: center;
   
}
.modal{
    
   top: 30%;
   left: 34%;
    border-style: double;
    width:750px;
    height: 210px;
    background-color: white;
    display: flex;
     
}

#color_modal{
    margin-top: 10px;
    display: inline;
    
    margin-left:30%;
}
#heading{
    display: inline;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align:center;
}
#button_modal{
    
    display: inline;
   /*margin-left: 100px;
    margin-top: 60px */
}
#minus{
    position: absolute;
    left: 50%;
    top:30%;
    background-color: black;
    border:none;
    
   
   
    background-color: white;
    font-size: 55px;
    margin-left: 0px;
    /*margin: 4px 10px;*/
}
#plus{
    position: absolute;
    left:80%;
    top:30%;
    border: none;
    background-color: black;
    background-color: white;
    font-size: 55px;
    margin-left: 10px;
}
#btwn{
 position:absolute;
    font-size: 30px;
    font-weight: bolder;
    right:px;
    left: 850px;
    margin-left: 20px;
    margin-right: 15px;
    margin-top:10px; 
}
.agree{
	position: relative;
	right:98px;
	top: 130px;
	border-radius: 5px;
	background-color: #caf5b3;
	color: black;
	border: 2px solid #77a150;
}
.Cancel{
    position: relative;
	border-radius: 5px;
    top: 130px;
    left:0px; 
	background-color: #f9e2d2 ;
	color: black;
	border: 2px solid #b45918;
}
#colozz{
    position: absolute;
	left: 67.5%;
	
	font-size: 34px;
	margin: 0px 19px;
}
div.modal div.bg-modal{
    z-index: 0;
}
/*
#agree{
    right: 145px;
    border-radius: 10%;
    border: none;
    background-color: aquamarine; 
    top:30%;
   
}
#Cancel{

    text-align: right;
    border-radius: 10%;
    border: none;
    background-color: pink;
    top: 20%;
    right: 59%;
}*/
#bottomsection hr{
    
    border:1px solid black;
    
    }

